## Deliverable 2. Create a Customer Travel Destinations Map.

In [71]:
# Dependencies and Setup
import pandas as pd
import requests
import numpy as np
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [72]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,41.11,70,20,31.07,few clouds
1,1,Hermanus,ZA,-34.4187,19.2345,53.06,84,0,11.07,clear sky
2,2,Caravelas,BR,-17.7125,-39.2481,69.80,80,5,4.25,clear sky
3,3,Olafsvik,IS,64.8945,-23.7142,50.94,80,81,21.21,broken clouds
4,4,Busselton,AU,-33.6500,115.3333,51.37,72,3,6.35,clear sky

In [73]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [74]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
11,11,Yarada,IN,17.6500,83.2667,80.92,94,40,2.30,mist
12,12,Bathsheba,BB,13.2167,-59.5167,86.61,90,40,18.41,scattered clouds
13,13,Atuona,PF,-9.8000,-139.0333,77.65,64,0,20.65,clear sky
14,14,Funadhoo,MV,6.1500,73.2667,81.66,75,73,16.04,broken clouds
15,15,Albany,US,42.6001,-73.9662,83.35,49,98,2.77,overcast clouds
17,17,Nalut,LY,30.3333,10.8500,87.80,15,0,11.99,clear sky
18,18,Iralaya,HN,15.0000,-83.2333,82.80,72,52,8.63,broken clouds
33,33,Bubaque,GW,11.2833,-15.8333,79.61,79,100,14.18,overcast clouds
35,35,Kapaa,US,22.0752,-159.3190,82.38,70,18,5.01,few clouds
39,39,Myingyan,MM,21.4667,95.3833,87.37,57,66,5.64,broken clouds

In [75]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [76]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
11,11,Yarada,IN,17.6500,83.2667,80.92,94,40,2.30,mist
12,12,Bathsheba,BB,13.2167,-59.5167,86.61,90,40,18.41,scattered clouds
13,13,Atuona,PF,-9.8000,-139.0333,77.65,64,0,20.65,clear sky
14,14,Funadhoo,MV,6.1500,73.2667,81.66,75,73,16.04,broken clouds
15,15,Albany,US,42.6001,-73.9662,83.35,49,98,2.77,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
539,539,Aswan,EG,24.0934,32.9070,89.83,14,14,9.28,few clouds
540,540,Urbano Santos,BR,-3.2078,-43.4036,80.89,62,99,3.22,overcast clouds
541,541,Goderich,CA,43.7501,-81.7165,76.91,85,45,14.03,scattered clouds
547,547,Isangel,VU,-19.5500,169.2667,76.01,85,76,12.21,broken clouds
548,548,Qui Nhon,VN,13.7667,109.2333,77.99,88,87,3.69,overcast clouds

In [77]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Weather Description", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Weather Description,Max Temp,Lat,Lng,Hotel Name
11,Yarada,IN,mist,80.92,17.6500,83.2667,
12,Bathsheba,BB,scattered clouds,86.61,13.2167,-59.5167,
13,Atuona,PF,clear sky,77.65,-9.8000,-139.0333,
14,Funadhoo,MV,broken clouds,81.66,6.1500,73.2667,
15,Albany,US,overcast clouds,83.35,42.6001,-73.9662,
17,Nalut,LY,clear sky,87.80,30.3333,10.8500,
18,Iralaya,HN,broken clouds,82.80,15.0000,-83.2333,
33,Bubaque,GW,overcast clouds,79.61,11.2833,-15.8333,
35,Kapaa,US,few clouds,82.38,22.0752,-159.3190,
39,Myingyan,MM,broken clouds,87.37,21.4667,95.3833,

In [78]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [64]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Yarada,IN,80.92,17.6500,83.2667,Yarada Jungle Beach Resorts
12,Bathsheba,BB,86.61,13.2167,-59.5167,Atlantis Hotel
15,Albany,US,83.35,42.6001,-73.9662,Hampton Inn Summerville
49,Urumqi,CN,77.95,43.8010,87.6005,Hua Ling Grand Hotel Urumqi
53,Mandih,PH,77.29,8.2087,123.0141,La Roche Sindangan Zamboanga del Norte Philippine
54,Jamestown,US,75.72,42.0970,-79.2353,Hampton Inn & Suites Jamestown
65,Butaritari,KI,81.37,3.0707,172.7902,Isles Sunset Lodge
75,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
81,Ribeira Grande,PT,77.40,38.5167,-28.7000,Quinta da Meia Eira
98,Ituiutaba,BR,76.78,-18.9689,-49.4650,Bernal Hotel
113,Shelburne,CA,77.45,44.0787,-80.2041,The Retreat at the Farm
121,Waingapu,ID,75.58,-9.6567,120.2641,Pondok Wisata Elim
125,Oranjestad,AW,82.35,12.5240,-70.0270,Divi Village Golf & Beach Resort
130,Merauke,ID,76.86,-8.4667,140.3333,Vesolaya Mayovka
143,Acarau,BR,79.41,-2.8856,-40.1200,castelo pizzaria
154,Nishihara,JP,81.68,26.1842,127.7558,Minshuku Agaihama
155,Nanakuli,US,84.11,21.3906,-158.1547,Camp Pālehua
168,Kavieng,PG,82.38,-2.5744,150.7967,Nusa Island Retreat
187,Hirara,JP,84.76,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
188,Darnah,LY,78.69,32.7670,22.6367,فندق الفردوس
193,Zhicheng,CN,75.02,30.2956,111.5047,Wangjiang Building
199,Harper,LR,75.34,4.3750,-7.7169,Screensaver
207,Bengkulu,ID,75.47,-3.8004,102.2655,Grage Hotel Bengkulu
219,Meulaboh,ID,75.06,4.1363,96.1285,Kost Pria
223,Faanui,PF,79.07,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
242,Rochester,US,84.58,43.1548,-77.6156,Hyatt Regency Rochester
255,Manokwari,ID,77.58,-0.8667,134.0833,Swiss Belhotel Manokwari
267,Tarakan,ID,78.30,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
291,Reconquista,AR,80.33,-29.1500,-59.6500,Grand Hotel
293,Kalmunai,LK,78.21,7.4167,81.8167,VS Villa
301,Hobyo,SO,75.76,5.3505,48.5268,Iftin hotel hobyo
322,Dhidhdhoo,MV,81.05,6.8833,73.1000,Dhidhoo beach
331,Pontianak,ID,76.98,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
343,Mahonda,TZ,75.72,-6.4500,39.4667,Karamba Resort
350,Dingle,PH,75.78,10.9995,122.6711,SEGAYA PROPERTY
376,Shimoda,JP,82.11,34.6667,138.9500,Shimoda Tokyu Hotel
378,Hamilton,US,84.88,39.1834,-84.5333,Six Acres Bed & Breakfast
402,Abu Dhabi,AE,89.71,24.4667,54.3667,Beach Rotana
406,Shima,CN,77.45,24.4478,117.8111,龙海钻石大酒店
408,New Richmond,US,80.83,45.1230,-92.5366,Coratel Inn & Suites by Jasper New Richmond
409,Sola,VU,80.31,-13.8833,167.5500,Leumerus Bungalows
441,Yarmouth,US,83.08,41.7057,-70.2286,Blue Rock Resort
454,Guerrero Negro,MX,79.68,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
465,Cayenne,GF,79.09,4.9333,-52.3333,Hôtel Le Dronmi
479,Lexington Park,US,87.73,38.2668,-76.4538,TownePlace Suites by Marriott Lexington Park P...
482,Wajir,KE,76.23,1.7471,40.0573,Mahatallah Hotel
488,Samarai,PG,78.01,-10.6167,150.6667,Nuli Sapi
491,Ghogha,IN,82.15,21.6833,72.2833,"GUEST HOUSE,GHOGHA"
497,Makakilo City,US,83.68,21.3469,-158.0858,Marriott's Ko Olina Beach Club
507,Powell,US,83.84,40.1578,-83.0752,The Brig
509,Skowhegan,US,85.15,44.7651,-69.7192,Yogi Bear's Jellystone Park™ at Yonderhill in ...
516,Puerto Del Rosario,ES,78.55,28.5004,-13.8627,Hotel JM Puerto del Rosario
519,Xiashi,CN,77.02,30.5363,120.6864,皮都锦江大酒店
539,Aswan,EG,89.83,24.0934,32.9070,Nuba Nile

In [79]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [85]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [86]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))